.PopupModalBox a{
  border: none;
}
.wrapperoverlay{
  -moz-background-clip: border;
  -moz-background-origin: padding;
  -moz-background-size: auto auto;
  background-attachment: scroll;
  background-color: #FFFFFF;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  position:absolute;
  left:0;
  top:0;
  margin:0;
  padding:0;
  opacity:0.75;
  filter: alpha(opacity=75);
}