div.html-results {
  width: 100%;
  font-size: .7em;
}

.no-print, td.icons img {
  display: none;
}

tr.heading td {
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
  color: black;
  font-size: .9em;
  font-weight: bold;
}

tr.record td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

.unifont1white, a.clipalllink:link, .searchmessageyellow {
  color: black;
}

.print_report {
    display: none;
}

.toggle_rsection {
    display: none;
}
