/* Coverage Area Style */
body { background-color: #e6e7de; }

A:		{ color: #0000ff; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A:link		{ color: #0000ff; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A:visited	{ color: #0000ff; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A:hover		{ color: #0000ff; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; font-weight: bold; }
A:active	{ color: #0000ff; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }

.statetitle { FONT-SIZE: 10pt; FONT-FAMILY: Arial; COLOR: #003399; font-weight: bold; }
.coveragetitle { FONT-SIZE: 10pt; FONT-FAMILY: Arial; COLOR: #003399; }
.coverageall { FONT-SIZE: 10pt; FONT-FAMILY: Arial; COLOR: #000000; }
.coveragetext { FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: #000000; }
.printborder { background-color: #cccc33; }
.printbutton { background-color: #ffffee; }
#printbutton {
  border: 1px solid ;
  border-color: #cccc33;
  background-color: #ffffee;
  width: 46px;
  height: 20px;
  float: right;
  line-height:20px;
  text-align:center;
}
#coverage{
  margin: 10px;
  position: relative;
  font-family: Helvetica,Arial;
  font-size: 11px;
}
h1{
  font-weight: bold;
  font-strech: expanded;
  font-size: 13px;
  font-family: Helvetica,Arial;
  color: #003399;
  text-align: center;
}
h2{
  text-decoration: underline;
  font-family: Helvetica,Arial;
  font-size: 11px;
  font-weight: bold;
}
ul{
  padding-left: 5px;
  margin-left: 5px;
  list-style-type: circle;
}
