/* CSS Document: for rounded corners and drop shadows */

.rcorner1
{
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}

.rcorner2
{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.rcorner3
{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.rcorner4
{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.rcorner5
{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.rcorner6
{
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.rcorner7
{
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.rcorner8
{
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.rcorner9
{
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}

.rcorner10
{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.dropshadow
{
    /* 
    horizontal, vertical, blur, spread
    generic drop shadow
    */
    -moz-box-shadow: 0px 1px 4px #ccc;
  -webkit-box-shadow: 0px 1px 4px #ccc;
  box-shadow: 0px 1px 4px #ccc;
}

.dropshadow120
{
    /* generic drop shadow | angle right */
    -moz-box-shadow: 1px 1px 4px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc;
  box-shadow: 1px 1px 4px #ccc;
}

