@charset "utf-8";
/* STYLE 2 - Accurint Classic Styles */

body {background:#FFFFFF;}

.searchresultsrowodd {background-color: #F2F4F1; }
.searchresultsroweven {background-color: #F4F0DE; }

/*********************** Header Styles ******************/

#hd{
    padding-right:15px;
    height:55px;
	margin:15px 0 0 15px;
}

#hd.aml-logo{
	background:url(../../../images/v4/LN-Anti-Money-Laund-Sol-red.png) no-repeat;
}

#hd.rm-logo{
	background:url(../../../images/v4/LN-Risk-Management-Sol-red.png) no-repeat;
}

#hdblank{
        background:url(../../../images/v2/spacer.gif) no-repeat;
        padding-right:15px;
        height:55px;
}

/*********************** Results Styles *****************/

#searchResultsTbl{
	font-size:71%;
	line-height:125%;
	margin-bottom:15px;
	border: 1px solid #666666;
	background-color: #E4DFDA;
}
#searchResultsTblAlt{
	font-size:71%;
	line-height:normal;
	background-color:#FAFAFA;
	border:1px solid #666666;
	margin-bottom:15px;
}
#tblHdr {
	color:#FFFFFF;
	font-weight:bold;
	height: 21px;
	background-image:url(../../../images/v2/fcol/1/hdr_result_ctr.gif);
	background-repeat:repeat-x;
}
#tblHdr A {
	color:#FFFFFF;
	text-decoration:none;
}
#tblHdr A:HOVER{
	color:#FFFFFF;
	text-decoration:underline;
}
#tblHdrTab {
	color:#FFFFFF;
	font-weight:bold;
	height: 21px;
	background-image:url(../../../images/v2/fcol/1/hdr_result_ctr.gif);
	background-repeat:repeat-x;
}
#tblHdrTab A {
	color:#FFFFFF;
	text-decoration:none;
}
#tblHdrTab A:HOVER{
	color:#FFFFFF;
	text-decoration:underline;
}
#HdrResultL{
	/*background:#FCFAF5 url(../../../images/v2/fcol/1/hdr_result_lft.gif) no-repeat left top;*/
	background:#FCFAF5 url(../../../images/v2/fcol/1/hdr_result_lft.gif) repeat-x left top;
}
#HdrResultR{
	background:#FCFAF5 url(../../../images/v2/fcol/1/hdr_result_rt.gif) no-repeat right top;
	width:10;
}
#HdrResultC{
	background:url(../../../images/v2/fcol/1/hdr_result_ctr.gif) no-repeat left top;
	background-repeat:repeat-x;
}

/*#waf {
	border:#999 solid 1px;
	background-image: url(../../../images/v2/fcol/1/waf_bkg_grad.gif);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	line-height: normal;
	padding: 5px;
	height: auto;
	position: relative;
	float: left;
}
#waf SPAN {
	line-height: normal;
	width: 95px;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 0;
	margin-right: 5px;
	font-size: .9em;
	float: left;
}
#waf INPUT {
	float: left;
	margin: -2px 0 5px 0;
}

#waf H3 {
	color:#ed1c24;
	margin-bottom:5px;
	font-size: 11px;
}*/
#waf {
	border:#999 solid 1px;
	background-image: url(../../../images/v2/fcol/1/waf_bkg_grad.gif);
	background-repeat: repeat-x;
	background-color: #EFF8FA;
        border-style:solid;
        border-width:1px;
        line-height: normal;
        font-size:91%;
	padding: 0 px;
}

#waf SPAN {
	line-height: normal;
	width: 95px;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 0;
	margin-right: 5px;
	font-size: .9em;
	float: left;
}
/*********************** Button Styles ******************/

#clearSrch{
            background:#15588A url(../../../images/v2/fcol/1/btn_bkg_clear.gif) repeat-x top; /* Changes for Project July */
            color:#ffffff;
            text-decoration:none;
            text-transform:uppercase;
            font-weight:bold;
            height:22px;
            width: 80px;
            border-top:1px solid #5E5F62; /* Changes for Project July */
            border-right:1px solid #5E5F62; /* Changes for Project July */
            border-bottom:1px solid #5E5F62; /* Changes for Project July */
            border-left:1px solid #5E5F62; /* Changes for Project July */
            font-size:10px;
            margin-left: 2px;
            font-family: Arial, Helvetica, sans-serif;
}

#searchBtn{
	background:#ed1c24 url(../../../images/v2/fcol/1/btn_bkg_search.gif) repeat-x top;
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	height:22px;
	border-top:1px solid #990033;
	border-right:1px solid #990033;
	border-bottom:2px solid #990033;
	border-left:1px solid #990033;
	font-size:10px;
	float: left;
	width: 55px;
	font-family: Arial, Helvetica, sans-serif;
}
#searchBtn,#reset a:hover {
	color:#CCCCCC;
	text-decoration:underline;
}
#searchBtn,#reset a:visited {
	color:#FFFFFF;
	text-decoration:none;
}

#searchBtnDisabled {
	background:#999999 url(../../../images/v2/btn_bkg_disabled.gif) repeat-x top;
	color:#F4F4F7;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	height:22px;
	border-top:1px solid #999999;
	border-right:1px solid #999999;
	border-bottom:2px solid #999999;
	border-left:1px solid #999999;
	font-size:10px;
	float: left;
	width: 55px;
	font-family: Arial, Helvetica, sans-serif;
}

#cancelBtn{
	background:#333333 url(../../../images/v2/fcol/1/btn_bkg_cancel.gif) repeat-x top;
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	height:22px;
	width:60px;
	padding:2px;
	margin:0px 10px;
	border-top:1px solid #333333;
	border-right:1px solid #333333;
	border-bottom:2px solid #333333;
	border-left:1px solid #333333;
	font-size:11px;
	float:left;
}

/************************ START RIGHT COLUMN STYLES ************************/
#rtcolTabsContainer {
	width: 230px;
	float: left;
	z-index: 99;
	margin: 0;
	position: relative;
}

#rtcolTabsContainer IMG {float:left;}

#rtcolTabs {
	margin: 0;
	list-style-type: none;
	width: 224px;
	margin-left: 5px;
}

#rtcolTabs ul{
	list-style:none;
	white-space: nowrap;
}

#rtcolTabs li {
	background:url(../../../images/v2/fcol/1/rtcoltab_rt.gif) no-repeat right -160px;
	list-style-type:none;
	float: left;
	margin-right: 0px;
}

#rtcolTabs li a {
	background:url(../../../images/v2/fcol/1/rtcoltab_lft.gif) no-repeat left -160px;
	font-size: 11px;
	text-decoration:none;
	color:#0066CC;
	padding: 10px 5px 4px 5px;
	line-height:normal;
	white-space: nowrap;
	display: block;
}

#rtcolTabs .active{
	background:url(../../../images/v2/fcol/1/rtcoltab_rt.gif) no-repeat right top;
	margin:0;
}

#rtcolTabs .active a {
	background:url(../../../images/v2/fcol/1/rtcoltab_lft.gif) no-repeat left top;
	color:#333333;
	position:relative;
	margin: 0;
	font-weight: bold;
}

#rtcolTabs li.rtcolfirst{
	background:url(../../../images/v2/fcol/1/rtcoltab_rt.gif) no-repeat right -155px;
	margin:0 1px 0px 2px;
	list-style-type:none;
	float:left;
}

#rtcolTabs li.rtcolfirst a{
	background:url(../../../images/v2/fcol/1/rtcoltab_lft.gif) no-repeat left -155px;
	padding: 9px 9px 4px 9px;
	line-height:normal;
	white-space: nowrap;
	display: block;
}

#rtcolContent {
	background-image:url(../../../images/v2/fcol/1/rtcol_mytools_top.gif); /* IMAGE needs to be worked on to align well: size verified from original image and is fine*/
	background-position:left top;
	background-repeat:no-repeat;
	display:block;
	float:left;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	position:relative;
	width:240px;
	margin-top: -1px;
}

#rtcolContentBot{
	background-image:url(../../../images/v2/fcol/1/rtcol_mytools_bot.gif); /* IMAGE needs to be worked on to align well: size verified from original image and is fine*/
	background-repeat: no-repeat;
	background-position:left top;
	width:230px;
	height:20px;
	float: left;
}

#rtcolContent SPAN  /*This sets the alternate row color*/ {
	background-color:#DBDBDB;
	float:left;
	width:202px;
	height:auto;
}
/****** My Account ******/
#myAccount{
	background-image:url(../../../images/v2/fcol/1/rtcol_myaccount_hdr.gif);
	background-repeat:no-repeat;
	padding-left:14px;
	width:230px;
	height:auto;
	float:left;
	margin-top:5px;
	padding-top:8px;
}
#myAccount div.myAccountHdr{
	width:auto;
	float:left;
	color:#333;
	font-size:13px;
	font-weight:bold;
	padding-bottom:7px;
}
#myAccount UL{
	margin:0;
	padding:0;
	list-style:none;
	width:200px;
	top:30px;
	float:left;
}
#myAccount LI{
	font-size:71%;
	margin:2px 0;
	list-style-type: none;
	background-image: url(../../../images/v2/bullet_arrow_gray.gif);
	background-repeat: no-repeat;
	background-position: -1px 0.43em;
	text-indent:12px;
}
#myAccount SPAN{font-size:72%}
#myAccountBot{
	background-image:url(../../../images/v2/fcol/1/rtcol_myaccount_bot.gif);
	background-repeat: no-repeat;
	background-position:left top;
	width:230px;
	height:20px;
	float:left;
}

/****** Recent Searches - Blocks for Home Page  ******/

#recentSearch{
	background-image:url(../../../images/v2/fcol/1/rtcol_recent_search_hdr.gif);
	background-repeat:no-repeat;
	padding-left:14px;
	width:230px;
	height:auto;
	float:left;
	margin-top:5px;
	padding-top:8px;
}
#recentSearch div.recentSearchHdr{
	width:auto;
	float:left;
	color:#333;
	font-size:13px;
	font-weight:bold;
	padding-bottom:7px;
}

#recentSearch P{
        font-size:9px;
        float: left;
        padding-left:5px;
        margin-top:3px;
}
#recentSearch P A{

}
#recentSearch P A:HOVER{
	color:#ed1c24;
}
#recentSearch .rsLeft{
	width:100px;
	letter-spacing:-1px;
	float:left;
	font-weight:bold;
	color:#666666;
	height:auto;
	font-size:71%;
}
#recentSearch .rsRight{
	width:100px;
	float:left;
	padding-bottom:2px;
	height:auto;
	font-size:71%;
}
#recentSearch SPAN  /*This sets the alternate row color*/ {
	background-color:#CCCCCC;
	float:left;
	width:202px;
	height:auto;
}
#recentSearch BR{clear:both;}

#recentSearchBot{
	background-image:url(../../../images/v2/fcol/1/rtcol_recent_search_bot.gif);
	background-repeat: no-repeat;
	width:230px;
	height:20px;
	float:left;
	margin:0;
	padding:0;
	background-position:top;
	display:block;
}
	
/****** Tips Block  ******/
#tips{
	background-image:url(../../../images/v2/fcol/1/rtcol_white_hdr.gif);
	background-repeat:no-repeat;
	padding-left:15px;
	width:230px;
	padding-top:20px;
	float:left;
	font-size:75%;
	margin-top: 5px;
}
#tips H4{
	color:#ed1c24;
	font-size: 14px;
	padding-bottom: 5px;
}

#tips P{
	width:200px;
	line-height: 120%;
}

#tips UL{
	margin:0;
	padding:0;
	list-style:none;
	width:200px;
	top:30px;
}
#tips LI{
	list-style-type: disc;
	list-style-position: inside;
	margin-left: 5px;
}
#tips SPAN{
	color:#003399;
	font-weight:bold;
}

#tipsBot{
	background-image:url(../../../images/v2/fcol/1/rtcol_white_bot.gif);
	background-repeat:no-repeat;
	background-position:left top;
	width:230px;
	height:20px;
	float:left;
}
#tips div.tipsLabel{
	color:#666666;
	width:133px;
	float:left;
	margin-top:3px;
	font-size:82%;
	font-weight:bold;
	display:block;
	margin-right:5px;
}
#tips div.tipsState{
	font-size:82%;
	color:#666666;
	width:33px;
	margin-top:5px;
	font-weight:bold;
	float:left;
	display:block;
}

#tips div.tipsState INPUT{
	width:18px;
	text-transform:uppercase;
}

/************************ SEARCH Form Information ******************/

#info_rem {
    position:absolute;
    background-color:#ffffff;
    width:400px;
    font-family:verdana;
    font-size:8pt;
    border-bottom-style:solid;
    border-top-style:solid;
    border-left-style:solid;
    border-right-style:solid;
    border-bottom-color:#ed1c24;
    border-top-color:#ed1c24;
    border-left-color:#ed1c24;
    border-right-color:#ed1c24;
    /*
    border-bottom-color:#4e8cb9;
    border-top-color:#4e8cb9;
    border-left-color:#4e8cb9;
    border-right-color:#4e8cb9;
    */
    border-bottom-width:thin;
    border-top-width:thin;
    border-left-width:thin;
    border-right-width:thin;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    display : none;
    text-align:left;
    z-index:1000;
}

#info_rem_title {
    color: #ffffff;
    background-color: #ed1c24;
    /*background-color: #4e8cb9;*/
    font-weight: bold;
    font-size:10pt;
}

/************************ SEARCH Form Table ******************/

#searchTable{
	float:left;
	font-size:61%;
	margin-top:-5px;
	color:#666666;
	position:relative;
	height: auto;
	border: 1px solid #cccccc;
	background-color: #F0F2F4;
	width: 98%;
}
#searchTable INPUT{margin-top: -1px;}

#searchTable P {
	line-height:normal;
	font-size: 91%;
}

/************************ Tab styles ************************/

#tabs{
	background-repeat:no-repeat;
	background-position:right bottom;
	float: left;
	width: 100%;
	position: relative;
	background-image: url(../../../images/v2/fcol/1/tab_bkg_top.gif);
	z-index: 10;
}
#tabs SPAN{
	background:url(../../../images/v2/fcol/1/tab_bkg_top.gif) no-repeat;
	width:15px;
}
#tablist {
	background-image:url(../../../images/v2/fcol/1/tabLeftBkg.gif);
	background-repeat:no-repeat;
	background-position:left bottom;
	padding-bottom: 1px;
	list-style-type: none;
	width: auto;
}
#tabsLeftbkg{
	background-image:url(../../../images/v2/fcol/1/tabLeftBkg.gif);
	background-repeat:no-repeat;
	background-position:left bottom;
	padding-bottom: 1px;
	list-style-type: none;
	width: 800px;
}

#tabs ul{
	list-style:none;
	height: 2.1em;
	width: 800px;
	position: relative;
}
#tabs li{
	background:url(../../../images/v2/fcol/1/tabRightBGred.gif) no-repeat right 4px;
	margin:0 1px 0px 0;
	float:left;
	list-style-type:none;
}
#tabs li a{
	background:url(../../../images/v2/fcol/1/tabLeftBGred.gif) no-repeat left 4px;
	white-space:nowrap;
	font-weight:bold;
	text-decoration:none;
	color:#f2f2f2;
	display:block;
	padding-right:8px;
	padding-left:8px;
	line-height:normal;
	padding-top:6px;
	padding-bottom:3px;
	width:1em;
	font-size:81%;
}
#tabs li a:focus{
	outline:none;
}
#tabs .active{
	background:url(../../../images/v2/fcol/1/tabRightBG.gif) no-repeat right -150px;
}
#tabs .active a{
	background:url(../../../images/v2/fcol/1/tabLeftBG.gif) no-repeat left -150px;
	color:#666666;
}
#tabs a:hover{text-decoration:underline;}
#tabs .active a:hover{text-decoration:none;cursor:text;}
#tabs > ul a{
	width:auto;
	white-space: nowrap;
}

#tabBkg{
	background:url(../../../images/v2/fcol/1/tabLeftBkg.gif) repeat-y left top;
	float:left;
	width:100% !important - width required for FF;
	position:relative;
	width: 100%;
}
#tabBkgRight{
	background:url(../../../images/v2/fcol/1/tabRightBkg.gif) repeat-y right top;
	margin:0;
	height:auto;
	float:right;
	width:98%;
	padding:0;
}
#tabBotL{
	background:url(../../../images/v2/fcol/1/tabBotL.gif) no-repeat left top;
	width:2%;
	height:16px;
	float:left;
	margin:0px;
	padding:0px;
	z-index: 0;
}
#tabBotR{
	background:url(../../../images/v2/fcol/1/tabBotR.gif) no-repeat right top;
	float:right;
	width:100%;
	height:16px;
	margin:0px;
	padding:0px;
	position:relative;
	z-index: 0;
}

/* Start drop down menu styles **********/

#tabs ul ul { /* second-level lists */
	position:absolute;
	left:-999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	font-size:91%;
	height:auto;
	display: inline;
}

#tabs li:hover ul, #tabs li.sfhover ul { /* lists nested under hovered list items */
	left:auto;
	background-color:#FFFFFF;
	width:165px;
!Important;
	padding-bottom:10px;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #336699;
	border-bottom: 1px solid #336699;
	border-left: 1px solid #336699;
}

#tabs li li A {
	background-image:none;
	TEXT-DECORATION:none;
	font-weight:normal;
	line-height: 95%;
	color:#0066CC;
}
#tabs li li {
	background-image:none; 
	float:left !Important;
}

/* Support for the "iehover-fix.js" */
* html ul.nav iframe {
	position: absolute;
	/* account for the border */
	left:0;
	top:0;
	z-index:-1;
	filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0);
	/* account for the border */
	left:.25em;
	top:.25em;
	bottom:.25em;
}
/* this is for IE 5.0
select.hide { visibility: hidden; }

/* End Support for the "iehover-fix.js" */

/* End drop down menu styles **********/

/****** Sub Nav Tab styles ************************/

#subtab{
	float:left;
	top:-4px;
	margin:0;
	overflow: hidden;
	width: 100%;
	position: relative;
	z-index: 10;
}
#subtab SPAN{
	width:auto;
	float:right;
	display:block;
	font-size:9px;
	margin-top:4px;
	padding-right:20px;
}
#subtab SPAN A{
	text-decoration:underline;
	/* color: #CCCCCC; */
}
#subtab SPAN A:HOVER{text-decoration:none;}

#subtab ul{
	list-style:none;
	white-space: nowrap;
}
#subtab li{
	background:url(../../../images/v2/fcol/1/subtabR.gif) no-repeat right 4px;
	margin:0 1px 0 0;
	float:left;
	list-style-type:none;
}
#subtab li a{
	background:url(../../../images/v2/fcol/1/subtabL.gif) no-repeat left 4px;
	white-space:nowrap;
	font-weight:bold;
	text-decoration:none;
	color:#f2f2f2;
	font-size:61%;
	width:0.1em;
	line-height:normal;
	padding-top:7px;
	padding-bottom:5px;
	padding-right:7px;
	padding-left:7px;
	display: block;
	}
#subtab li a:focus{outline:none;}

#subtab .active{
	background:url(../../../images/v2/fcol/1/subtabR.gif) no-repeat right -150px;
	margin:0;
	padding:0;
	margin-right: 1px;
}
#subtab .active a{
	background:url(../../../images/v2/fcol/1/subtabL.gif) no-repeat left -150px;
	color:#333333;
	padding-left:11px;
	padding-right:11px;
	position:relative;
	height: 12px;
}
#subtab .inactive{
	background:url(../../../images/v2/fcol/1/subtabR.gif) no-repeat right -150px;
	margin:0;
	padding:0;
	margin-right: 1px;
}
#subtab .inactive a{
	background:url(../../../images/v2/fcol/1/subtabL.gif) no-repeat left -150px;
	color:#333333;
	padding-left:11px;
	padding-right:11px;
	position:relative;
	height: 12px;
}
#subtab a:hover {text-decoration:underline;}
#subtab .active a:hover{text-decoration:none;cursor:text;}
#subtab > ul a{width:auto;}
ul > #activetab a:hover{text-decoration:none;cursor:text;}

#subtab .firsTab {
	padding-left:3px;
}

#subtabBkg{
	background:url(../../../images/v2/fcol/1/subtabBkgL.gif) repeat-y left top;
	float:left;
	position:relative;
	width:100% !important;
}
#subtabBkgRight{
	background:url(../../../images/v2/fcol/1/subtabBkgR.gif) repeat-y right top;
	margin:0;
	width:98%;
	height:auto;
	position:relative;
	float:right;
}

/*** More Searches on Secondary Tabs ***/
.moreSearchesTab {
        display:none;
        position:absolute;
        background-color:#FFFFFF;
        z-index:199;
        top:19px;
        border:1px solid #666666;
        width: auto;
}

/*** Upper Pulldown Menus ***/
.upperTab {
        display:none;
        position:absolute;
        background-color:#ffffff;
        border-bottom:1px solid #b7b7b7;
        border-left:1px solid #b7b7b7;
        border-right:1px solid #b7b7b7;
        z-index:399;
        /*top:43px;*/
        /*top:67px;*/
        /*top:87px; */
        top: 83px;
        width: auto;
}

#navlist {
	font-size:81%;
	line-height:99%;
	margin-right: 10px;
	padding: 0 5px 5px 5px;
	position: relative;
}
#navlist ul {
	padding:5px 0px 0px;
	font-size:81%;
	list-style:none;
	margin: 0px;
}
#navlist li {
	list-style:none;
	background-image: url(../../../images/v2/bullet_arrow_gray.gif);
	background-repeat:no-repeat;
	background-position:-3px 0.3em;
	width:auto;
	margin-bottom:5px;
	padding-left: 10px;
	margin-top: 5px;
}


/************************ HOME PAGE - STYLES  ************************/

.greeting {
    font-size:65%;
    color:#666666;
    margin-bottom:5px;
    margin-left:10px;
}

#tip_rem {
    position:absolute;
    background-color:#FCFAF5;
    /*
    width   : 240px;
    height  : 120px;
    top:     0px;
    left:    0px;
    */
    font-family:verdana;
    font-size:8pt;
    border-bottom-style:solid;
    border-top-style:solid;
    border-left-style:solid;
    border-right-style:solid;
    border-bottom-color:#4e8cb9;
    border-top-color:#4e8cb9;
    border-left-color:#4e8cb9;
    border-right-color:#4e8cb9;
    border-bottom-width:thick;
    border-top-width:thin;
    border-left-width:thin;
    border-right-width:thick;
    padding-bottom:3px;
    padding-left:10px;
    padding-right:10px;
    display : none;
    z-index:1000;
}

#newsHdr {
    background-image:url(../../../images/v2/fcol/1/news_LTRed.gif);
    background-position:left top;
    background-repeat:no-repeat;
    height:32px;
    position:relative;
    width:100%;
}
#newsHdr div.NewsHeader{
    background-image:url(../../../images/v2/fcol/1/news_RTRed.gif);
    background-position:right top;
    background-repeat:no-repeat;
    height:32px;
}
#newsHdr div.NewsHeader H2{
    color:#FFFFFF;
    font-weight:bold;
    margin-top:8px;
    margin-left:15px;
    background-image:url(../../../images/v2/fcol/1/ico_hdrarrow_white.gif);
    background-repeat:no-repeat;
    background-position: left .42em;
    padding-left:15px;
    width:65%;
    position:absolute;
    font-size:92%;
}
#newsHdr div.NewsHeader SPAN A {
    float:right;
    width:auto;
    font-size:71%;
    text-align:right;
    padding-right:15px;
    margin:0;
    margin-top:10px;
    display:block;
    position:relative;
    color:#CCCCCC;
}
#newsHdr div.NewsHeader A:HOVER {
    color:#FFFFFF;
    text-decoration:none;
}
#newsBlock{
    background-image:url(../../../images/v2/fcol/1/news_Lbkg.gif);
    background-position:left top;
    background-repeat:repeat-y;
    height:auto;
    position:relative;
    width:100%;
    min-width:525px;
    font-size: 81%;
}
#newsBlock div.newsRightBkg{
    background-image:url(../../../images/v2/fcol/1/news_Rbkg.gif);
    background-position:right top;
    background-repeat:repeat-y;
    height:auto;
}
#newsBlock UL{
    padding:0 0 0 25px;
    margin-left:10px;
}
#newsBlock LI{
    list-style-type:disc;
    padding-top:5px;
}
#newsBot{
    background-image:url(../../../images/v2/fcol/1/news_LB.gif);
    background-position:left top;
    background-repeat:no-repeat;
    width:100%;
    height:14px;
    float:left;
}
#newsBot div.newsBottom{
    background-image:url(../../../images/v2/fcol/1/news_RB.gif);
    background-position:right top;
    background-repeat:no-repeat;
    width:100%;
    height:14px;
    float:left;
}

/****** Home Page - All Available Searches ******/

#searches{
    margin-left:12px;
    width:97%;
    font-size: 81%;
}
#searches H2{
    color:#ed1c24;
    font-weight:bold;
    margin-top:8px;
    background-image:url(../../../images/v2/fcol/1/ico_hdrarrow_red.gif);
    background-repeat:no-repeat;
    background-position: left 0.42em;
    padding-left:15px;
    margin-bottom:10px;
    font-size: 117%;
}
#searches UL{
    margin:0;
    padding:0;
    list-style:none;
    top:30px;
    padding-bottom: 10px;
}
#searches LI{
    background-image:url(../../../images/v2/fcol/1/bullet_arrow_gray.gif);
    background-repeat:no-repeat;
    background-position:2px 0.43em;
    list-style-type: none;
    margin-bottom:2px;
    margin-left: 0px;
    margin-top:2px;
    padding-left: 14px;
}
#searches A {text-decoration:none;}
#searches A:HOVER {text-decoration:underline;}
#searches P{
    color: #666666;
}

#searches SPAN {font-size:72%}

#searchTitle {
    font-weight:bold;
    background-image:url(../../../images/v2/fcol/1/line_horz_red.gif);
    background-repeat:repeat-x;
    background-position:bottom;
    font-size: 105%;
    height: 25px;
}

.hpColHdr {
    background-image: url(../../../images/v2/fcol/1/hpColHdrRtRed.gif);
    background-repeat: repeat-x; /* Changes for Project July */
    background-position: right top;
    background-color: #fff; /* Changes for Project July */
    margin-bottom: 15px;
    border: 1px solid #ccc; /* Changes for Project July */
    border-top: none; /* Changes for Project July */
}
.hpColHdr H4  {
    background-position:left top;
    background-image: url(../../../images/v2/fcol/1/hpColHdrLftRed.gif);
    background-repeat: no-repeat;
    white-space:nowrap;
    font-weight:bold;
    font-size: 105%;
    text-indent: 7px;
    height: 22px;
    color: #FFFFFF;
}

#hdReport{
    background:url(../../../images/v2/fcol/1/ln_logo_fcra.gif) no-repeat;
    padding-right:15px;
    height:75px;
}

.hdReport_NON_FCRA {
    background:url(../../../images/v2/fcol/1/ln_logo_non_fcra.gif) no-repeat;
}

.hdReport_FCRA {
    background:url(../../../images/v2/fcol/2/ln_logo_fcra.gif) no-repeat;
}

#hdReport li.fcra-tab a{
        color:#8AC007;
}
#hdReport li.fcra-tab a:hover {text-decoration:non; color:#ed1c24;}

#reportResultsTbl .th_table{
    background:#FCFAF5;
}

#content .th_table{
    background:#FCFAF5;
}

/* NEW CODE FOR REPORT AND POP-UPS*/
#hdNoLogo {
          /*background-image:url(../../../images/v2/fcol/1/hdr_bar.gif);
          background-repeat: no-repeat;
          margin:0 auto;*/
}

input, textarea, select {
	font-family:inherit;
	font-weight:normal;
}

.reportPopContainer{
    width:230px;
    height:auto;
    float:left;
    margin: 0px;
    padding: 0px;
}

.reportPopFCRA{
    background-image:url(../../../images/v2/fcol/1/reportPopBkgFCRA.gif);
    background-repeat:no-repeat;
    padding-left:14px;
    width:205px;
    height:auto;
    float:left;
    padding-top:8px;
    padding-right: 10px;
}

.reportPopFCRA div.reportPopHdr{
    width:auto;
    float:left;
    color:#FFFFFF;
    font-size:13px;
    font-weight:bold;
    padding-bottom:7px;
}

.reportPopFCRA UL{
    margin:0;
    padding:0;
    list-style:none;
    width:200px;
    top:30px;
    float:left;
    padding-bottom: 7px;
}

.reportPopFCRA LI{
    font-size:81%;
    list-style-type: none;
    background-image: url(../../../images/v2/fcol/1/bullet_arrow_gray.gif);
    background-repeat: no-repeat;
    background-position: -1px .49em;
    padding-left: 11px;
    margin-bottom: 5px;
    margin: 2px 0;
    line-height: 130%;
}

.reportPopFCRA UL UL{
    margin:0;
    padding:0;
    list-style:none;
    margin-left: 9px;
}

.reportPopFCRA LI LI {
    font-size: inherit;
    list-style-type: none;
}

.reportPopFCRA SPAN{
    font-size:71%;
    line-height: inherit;
}

.reportPopBotFCRA{
    background-image:url(../../../images/v2/fcol/1/rtcol_myaccount_bot_fcra.gif);
    background-repeat: no-repeat;
    background-position:left top;
    width:230px;
    height:20px;
    float:left;
}

.reportPopFCRA INPUT {
    font-size:71%;
    width: 120px;
    padding: 2px;
    margin-right: 7px;
}

#reportPopContainer{
          width:230px;
          height:auto;
          float:left;
          margin: 0px;
          padding: 0px;
}

#reportPop{
          /*
          background-image:url(../../../images/v2/fcol/1/rtcol_myaccount_hdr.gif);
          */
          background-repeat:no-repeat;
          padding-left:14px;
          width:205px;
          height:auto;
          float:left;
          padding-top:8px;
          padding-right: 10px;
}

#reportPop div.reportPopHdr{
          width:auto;
          float:left;
          color:#FFFFFF;
          font-size:13px;
          font-weight:bold;
          padding-bottom:7px;
}

#reportPop UL{
          margin:0;
          padding:0;
          list-style:none;
          width:200px;
          top:30px;
          float:left;
          padding-bottom: 7px;
}

#reportPop LI{
          font-size:81%;
          list-style-type: none;
          background-image: url(../../../images/v2/fcol/1/bullet_arrow_gray.gif);
          background-repeat: no-repeat;
          background-position: -1px .49em;
          padding-left: 11px;
          margin-bottom: 5px;
          margin: 2px 0;
          line-height: 130%;
}

#reportPop UL UL{
          margin:0;
          padding:0;
          list-style:none;
          margin-left: 9px;
}

#reportPop LI LI {
          font-size: inherit;
          list-style-type: none;
}

#reportPop SPAN{
          font-size:71%;
          line-height: inherit;
}

#reportPopBot{
          /*
          background-image:url(../../../images/v2/fcol/1/rtcol_myaccount_bot.gif);
          */
          background-repeat: no-repeat;
          background-position:left top;
          width:230px;
          height:20px;
          float:left;
}

#reportPop INPUT {
          font-size:71%;
          width: 120px;
          padding: 2px;
          margin-right: 7px;
}


 /* New for Project July */
.hpColHdrGrn
{
    background-image: url(../../../images/v2/fcol/1/hpColHdrRtGrn.gif);
    background-repeat: repeat-x;
    background-position: right top;
    background-color: #fff;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-top: none;
}

.hpColHdrGrn H4  {
    background-position:left top;
    background-image: url(../../../images/v2/fcol/1/hpColHdrLftGrn.gif);
    background-repeat: no-repeat;
    white-space:nowrap;
    font-weight:bold;
    font-size: 105%;
    text-indent: 7px;
    height: 22px;
    color: #FFFFFF;
}

.product_pad
{
    padding: 10px;
}

#tabs li.toggle{
    background:url(../../../images/v2/fcol/1/tabRightBGgreen.gif) repeat-x right 4px;
}

#tabs li.toggle a{
    background:url(../../../images/v2/fcol/1/tabLeftBGgreen.gif) repeat-x left 4px;
}

.fcralink
{
  color: green;
}

#use_table{
  margin: 15px;
    font-size: 12px;
    border-collapse: collapse;
}

#use_table h3{
    color: #ff0000;
}

#use_table td{
    padding: 2px;
}

.use_choice
{
    border-collapse: collapse;
}

.use_choice td
{
    border: 1px solid #ccc;
}

.label_use1
{
    background: #E5E5E5;
    text-align: right;
    width: 100px;
}

.label_use2
{
    background: #f2f1ed;
}

.use_notice
{
    border-top: 1px dotted #ed1c24;
    padding: 5px;
}

#angleleft {
    background-image:  url(../../../images/v2/fcol/1/angle_left.gif);
    background-repeat: no-repeat;
    float: left;
    width: 125px;
    height: 37px;
    background-position: right;
}
#angleright {
    background-image:  url(../../../images/v2/fcol/1/angle_right.gif);
    background-repeat: no-repeat;
    float: left;
    width: 76px;
    height: 37px;
}

#noborder td
{
    border: none;
}

.fl_left
{
    float: left;
}

.fl_right
{
    float: right;
}

#searchPopHdr {
  font-weight: bold;
  color:#180708;
  background-color: #C13A40;
}
#searchPopHdr a {
  color: #180708;
}

#fcra_leftMenu {
    width:200px;
    height: 700px;
    padding-top: 20px;
    margin-top: -20px;
    float: left;
    position: absolute;
    background-repeat: repeat-x;
    background-image: url(../../images/v2/bkg_leftcolumn_report.gif);
    FONT-SIZE: 71%;
}

#fcra_leftMenu P{
        font-size:100%;
        line-height: normal;
}

#fcra_leftMenu A, a:visited, a:active{color:#0066CC;}
#fcra_leftMenu A:hover {color:#ed1c24; text-decoration:none;}
#fcra_leftMenu .navleft{
FONT-SIZE:8pt; FONT-FAMILY:Arial;
}

#fcra_content {
        position:relative; 
	display:block; 
	margin:0 0 0 190px; 
	overflow:auto;
	padding-top:40px;
	padding-top:1px;
	width: 75%;
	height: 95%;
	position: relative;
	left: 210px;
	overflow-x: hidden;
	FONT-SIZE: 71%;
	}

#fcra_content A, a:visited, a:active{color:#0066CC;}
#fcra_content A:hover {color:#ed1c24; text-decoration:none;}

#fcra_content H2 {
        color:#ed1c24;
        font-weight:bold;
        background-image:url(../../../images/v2/ico_hdrarrow_red.gif);
        background-repeat:no-repeat;
        background-position:left .42em;
        font-size:91%;
        padding-left:15px;
        width:auto;
        line-height:110%;
}

#fcra_content H3 {
        color:#ed1c24;
        font-size: 105%;
}

#fcra_content H4 {
        color:#ed1c24;
        font-size: 120%;
}

#fcra_content P {
        font-size:81%;
}
#fcra_content .grey{
        width:auto;
        float:right;
        display:block;
        font-size:9px;
        padding-right:10px;
        color:#666666;
}

#fcra_content table{
        background-color: #fcfaf5;
}

#rtcolTabs #li_recentSearch{
    background:url(../../../images/v2/fcol/1/hpColHdrRtRed.gif);
    background-repeat: repeat-x;
    background-position: right bottom;
    color:#FFFFFF;
    margin:0;
}

#rtcolTabs #li_recentSearch a {
    background:url(../../../images/v2/fcol/1/hpColHdrLftRed.gif) no-repeat right bottom;
    position:relative;
    margin: 0;
    font-weight: bold;
}

#rtcolTabs #li_fcra_recentSearch{
    background:url(../../../images/v2/fcol/1/hpColHdrRtGrn.gif);
    background-repeat: repeat-x;
    background-position: right bottom;
    color:#FFFFFF;
    margin:0;
}

#rtcolTabs #li_fcra_recentSearch a {
    background:url(../../../images/v2/fcol/1/hpColHdrLftGrn.gif) no-repeat right bottom;
    position:relative;
    margin: 0;
    font-weight: bold;
}

#rtcolTabs li.fc_nfc_active a {
    color:#333333;
}

#rtcolTabs li.fc_nfc_inactive a {
    color:#FFFFFF;
    cursor: pointer;
}

#workStream {
    font-weight: bold;
    margin-left: 8px;
    color: #0066CC;
}

/* quick search related stuff */
.quickSmall {font-weight: bold; font-size: 11px; text-align: right;}
.quickEnter {font-size:11px;}
.quickGray { color: #666666;}
#left_qs {
    width: 200px;
    float: left;
}

#right_qs { margin-left: 200px; /* same as left column width*/ }

.clear_class { clear: both; }

/* consumer comments form */
#consumer_comments_form H2 {
    color:#ed1c24;
    font-weight:bold;
    background-image:url(../../../images/v2/fcol/1/ico_hdrarrow_red.gif);
    background-repeat:no-repeat;
    background-position:left .42em;
    font-size:91%;
    padding-left:15px;
    width:auto;
    line-height:100%;
    margin-left:10px;
}

.text11 p{
	padding-bottom: 10px;
}
/* End New for Project July */

