/* New Css Added Now*/
#left_nav ul{
	margin: 1px;
	padding-left:1px;
	margin-top:5px;
}

#left_nav li{
	margin: 1px auto;
	padding: 1px;
	width: auto;
	text-align:left;
	list-style-type:none;
	border:0px solid #666666;
	background-color: none;
	cursor:move;
	height:18px;
}
