body{
    background-color: #D0D0D0;
    padding-top:55px;
}
form[name=MYACCOUNT] > center > table{
    width: 994px;
}
div#footer {
    font-family: Calibri, Arial;
    padding-top: 10px;
    background-color: #6D6E71;
    overflow: hidden;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left:0;
    color: #fff;
}
div#footer a{
    text-decoration:underline;
}
div#footer a,
div#footer > span:first-child{
    color:#fff;
    font-size: 12px;
}
div#footer > span:first-of-type + span{
    color:#BCBEC0;
    font-size: 12px;
}
div#footer > a:first-child,
div#footer > a:first-child + a{
    margin-right: 12px;
}
div#footer > a:first-child + a + a{
    margin-right: 3px;
}
