/* Coverage Area Style */
body { background-color: #EBEBD8; }

A:		{ color: #000000; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A:link		{ color: #000000; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A:visited	{ color: #000000; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A:hover		{ color: #0033cc; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A:active	{ color: #000000; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }

.statetitle { FONT-SIZE: 10pt; FONT-FAMILY: Arial; COLOR: #000000; font-weight: bold; }
.coveragetitle { FONT-SIZE: 10pt; FONT-FAMILY: Arial; COLOR: #000000; }
.coverageall { FONT-SIZE: 10pt; FONT-FAMILY: Arial; COLOR: #000000; }
.coveragetext { FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: #000000; }
.printborder { background-color: #000000; }
.printbutton { background-color: #ffffff; }
