A.mainmenu:link { color: #000000; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A.mainmenu:visited { color: #000000; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A.mainmenu:hover { color: #0033cc; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A.mainmenu:active { color: #000000; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A.topbar:link { color: yellow; font-weight: bold; text-decoration: underline; FONT-SIZE: 10pt; FONT-FAMILY: Arial,Helvetica; }
A.topbar:visited { color: yellow; font-weight: bold; text-decoration: underline; FONT-SIZE: 10pt; FONT-FAMILY: Arial,Helvetica; }
A.topbar:hover { color: yellow; font-weight: bold; text-decoration: underline; FONT-SIZE: 10pt; FONT-FAMILY: Arial,Helvetica; }
A.topbar:active { color: yellow; font-weight: bold; text-decoration: underline; FONT-SIZE: 10pt; FONT-FAMILY: Arial,Helvetica; }
A.adver:link { color: #ffffff; font-weight: bold; text-decoration: underline; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A.adver:visited { color: #ffffff; font-weight: bold; text-decoration: underline; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A.adver:hover { color: #ffffff; font-weight: bold; text-decoration: underline; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A.adver:active { color: #ffffff; font-weight: bold; text-decoration: underline; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A.mainmenularge:link { color: #000000; text-decoration: none; FONT-SIZE: 12pt; FONT-FAMILY: Arial,Helvetica; }
A.mainmenularge:visited { color: #000000; text-decoration: none; FONT-SIZE: 12pt; FONT-FAMILY: Arial,Helvetica; }
A.mainmenularge:hover { color: #0033cc; text-decoration: none; FONT-SIZE: 12pt; FONT-FAMILY: Arial,Helvetica; }
A.mainmenularge:active { color: #000000; text-decoration: none; FONT-SIZE: 12pt; FONT-FAMILY: Arial,Helvetica; }

/* Main Menu Section Styles */
.genericborder { background-color: #003366; }
.people { background-color: #003366; }
.batch { background-color: #003366; }
.business { background-color: #003366; }
.asset { background-color: #003366; }
.security { background-color: #003366; }
.rateevasion { background-color: #003366; }
.mnews { background-color: #003366; }
.da { background-color: #003366; }
.credit { background-color: #8C4B47; }
.emsi { background-color: #003366; }
.license { background-color: #003366; }
.court { background-color: #003366; }
.hcare { background-color: #003366; }
.myaccount { background-color: #003366; }

.sectiontitle10 {FONT-SIZE: 10pt; FONT-FAMILY: verdana; COLOR: white; font-weight: bold; }
.sectiontitle12 {FONT-SIZE: 12pt; FONT-FAMILY: verdana; COLOR: white; font-weight: bold; }
.smallfont1 {FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; COLOR: black; }
.smallfont1grey {FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; COLOR: gray; }
.smallfont1white {FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; COLOR: white; }
.newitem {FONT-SIZE: 10pt; font-family: "Century Gothic", serif; COLOR: #cc0033; font-weight: bold; font-style: italic;}
.unifont2 {FONT-SIZE: 2pt; FONT-FAMILY: Arial,Helvetica; COLOR: #21295a; }
.unifont8 {FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; COLOR: black; }
.unifont8white {FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; COLOR: #ffffff; }
.unifont8darkblue {FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; COLOR: #313163; }
.unifont10darkblue {FONT-SIZE: 10pt; FONT-FAMILY: Arial,Helvetica; COLOR: #313163; }
.unifont12darkblue {FONT-SIZE: 12pt; FONT-FAMILY: Arial,Helvetica; COLOR: #313163; }
.unifont10 {FONT-SIZE: 10pt; FONT-FAMILY: Arial,Helvetica; COLOR: black; }
.unifont10white {FONT-SIZE: 10pt; FONT-FAMILY: Arial,Helvetica; COLOR: white; }
.unifont12 {FONT-SIZE: 12pt; FONT-FAMILY: Arial,Helvetica; COLOR: black; }
.unifont12white {FONT-SIZE: 12pt; FONT-FAMILY: Arial,Helvetica; COLOR: white; }
.logo {FONT-SIZE: 24pt; FONT-FAMILY: Arial,Helvetica; COLOR: #5a5a5a; font-weight: bold; }
.logolong {FONT-SIZE: 20pt; FONT-FAMILY: Arial,Helvetica; COLOR: #5a5a5a; font-weight: bold; }
.logosmall {FONT-SIZE: 12pt; FONT-FAMILY: Arial,Helvetica; COLOR: #5a5a5a; font-weight: bold; }
.logobrand {FONT-SIZE: 18pt; FONT-FAMILY: Arial,Helvetica; COLOR: black; }
.logohelpcoverage {FONT-SIZE: 14pt; FONT-FAMILY: Arial,Helvetica; COLOR: #ffffff; }
.stitle {FONT-SIZE: 14pt; FONT-FAMILY: Arial,Helvetica; COLOR: black; }
.largefont1white {FONT-SIZE: 18pt; FONT-FAMILY: Arial,Helvetica; COLOR: white; }
.newsfont1 {FONT-SIZE: 9pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; }
.smallnewsfont1 {FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; }

.mainmenuheaderbk { background-color: #003366; }
.bs { color: #ffffff; height: 25px; font-weight: bold; font-family: arial,helvetica; font-size: 9pt; background: #003366; cursor:pointer; cursor:hand; border-width: 1px; border-style: solid; border: 1px solid #003366; }
.bso { color: #ffffff; height: 25px; font-weight: bold; font-family: arial,helvetica; font-size: 9pt; background: #003366; cursor:pointer; cursor:hand; border-width: 1px; border-style: solid; border-color: #cfeeef #003366 #003366 #cfeeef; }
.bsd { color: #ffffff; height: 25px; font-weight: bold; font-family: arial,helvetica; font-size: 9pt; background: #003366; cursor:pointer; cursor:hand; border-width: 1px; border-style: solid; border-color: #003366 #cfeeef #cfeeef #003366; }

