
#hd {
	background:url(../../../images/v2/tcol/logo_for_themes.gif) no-repeat;
	padding-right:15px;
	height:55px;
	position: relative;
}

#hdblank {
    background:url(../../../images/v2/spacer.gif) no-repeat;
    padding-right:15px;
    height:55px;
    position: relative;
}
