/* Coverage Area Style */
body {
        color:#333333;
        background:#FCFAF5;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        line-height:110%;
}

A:		{ color: #0066CC; text-decoration: none; FONT-SIZE: 8pt; }
A:link		{ color: #0066CC; text-decoration: none; FONT-SIZE: 8pt; }
A:visited	{ color: #0066CC; text-decoration: none; FONT-SIZE: 8pt; }
A:hover		{ color: #0066CC; text-decoration: none; FONT-SIZE: 8pt; font-weight: bold; }
A:active	{ color: #0066CC; text-decoration: none; FONT-SIZE: 8pt; }

.statetitle { FONT-SIZE: 10pt; font-weight: bold; }
.coveragetitle { FONT-SIZE: 10pt; }
.coverageall { FONT-SIZE: 10pt; }
.coveragetext { FONT-SIZE: 8pt; }
.printborder { background-color: #000000; }
.printbutton { background-color: #ffffff; }
