#nowrap {
	display: block;
	white-space: nowrap;
}

#nav {
    background: url("../Images/navBkg.gif") repeat-x scroll left center transparent;
    clear: both;
    float: left;
    font-size: 70%;
    height: 33px;
    width: 100%;
}
/*OLD NAV style************
	CLEAR: both;
	BACKGROUND:  url("../Images/navBkg.gif") repeat-x left;
	FLOAT: left;
	WIDTH: 100%;
	font-size: 70%;
	height: 33px;
	white-space: nowrap;
*************/

#nav UL {
	MARGIN: 0px;
	WHITE-SPACE: nowrap;
	LIST-STYLE-TYPE: none;
	padding-top: 6px;
	padding-bottom: 0px;
	margin-top: 3px;
	padding-left: 10px;
	width: 1150px;
}

#nav LI {
	BACKGROUND:  url("../Images/LeftBothMain_blue.gif") no-repeat left top;
	MARGIN: 0px 1px 0px 0px;
	padding-left: 9px;
	float: left;
	white-space: nowrap;
}

#nav A {
	PADDING-RIGHT: 8px;
	DISPLAY: block;
	FONT-WEIGHT: bold;
	BACKGROUND:  url("../Images/RightBothMain.gif") no-repeat right top;
	WIDTH: auto;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	padding-bottom: 5px;
	padding-top: 2px;
}
#nav A {
	FLOAT: none;	
}

#nav A:HOVER {
	TEXT-DECORATION: underline;
}

#nav .tabfcra {
    background-image: url("../Images/LeftBothMain_blue.gif");
    background-position: 0 -151px;
    line-height: 15px;
    MARGIN: 0px 0px 0px 0px;
    position: relative;
    top: -1px;
}
#nav .tabfcra A 
{
    BACKGROUND:  url("../Images/RightBothMain_blue.gif") no-repeat right top;
	BACKGROUND-POSITION: 100% -151px;
	COLOR: #fff;
	padding-right: 8px;
	margin-top: 0px;
}

#nav .tabfcra A:HOVER {
	TEXT-DECORATION: none;
}

#nav .selected {
    background-image: url("../Images/LeftBothMain.gif");
    background-position: 0 -151px;
    line-height: 15px;
    margin-bottom: 0;
    position: relative;
    top: 1px;
}
#nav .selected A 
{
	BACKGROUND-POSITION: 100% -151px;
	COLOR: #fff;
	padding-right: 8px;
	margin-top: 0px;
}

#nav .selected A:HOVER {
	TEXT-DECORATION: none;
}

#nav .selectedfcra {
    background-image: url("../Images/LeftBothMain_blue.gif");
    background-position: 0 -151px;
    line-height: 16px;
    margin-bottom: 0;
    position: relative;
    top: 0px;
}
#nav .selectedfcra A 
{
    BACKGROUND:  url("../Images/RightBothMain_blue.gif") no-repeat right top;
	BACKGROUND-POSITION: 100% -151px;
	COLOR: #fff;
	padding-right: 8px;
	margin-top: 0px;
}

#nav .selectedfcra A:HOVER {
	TEXT-DECORATION: none;
}

#nav INPUT {
	VERTICAL-ALIGN: bottom
}

#navsubtab {
	CLEAR: both;
	font-size: 60%;
	font-weight: bold;
	background-image:  url("../Images/navSubTabBkg.gif");
	background-repeat: repeat-x;
	padding-left: 10px;
	background-position: left top;
	position: relative;
	top: -2px;
	padding-bottom: 0px; /* Important - Allows background to show on selected tab */
}
#navsubtab UL {
	padding-top: 3px;
	white-space: nowrap;
	width: 100px;
	margin-bottom: 0px;
	margin: 0;
	padding-bottom: 5px;
}
#navsubtab LI {
    display: inline;
    list-style-type: none;
}
#navsubtab A {
	PADDING-LEFT: 5px;
	color: #FFFFFF;
	padding-right: 5px;
}
#navsubtab .subsel A {
    background-color: #E5E5E5;
    border-left: 1px solid #CCCCCC;
    border-right: 1px double #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #333333;
    margin: 0;
    padding-bottom: 4px;
}

#navsubtabfcra {
	CLEAR: both;
	font-size: 60%;
	font-weight: bold;
	background-image:  url("../Images/navSubTabBkg_blue.gif");
	background-repeat: repeat-x;
	padding-left: 10px;
	background-position: left top;
	position: relative;
	top: -2px;
	padding-bottom: 0px; /* Important - Allows background to show on selected tab */
}
#navsubtabfcra UL {
	padding-top: 3px;
	white-space: nowrap;
	width: 100px;
	margin-bottom: 0px;
	margin: 0;
	padding-bottom: 5px;
}
#navsubtabfcra LI {
    display: inline;
    list-style-type: none;
}
#navsubtabfcra A {
	PADDING-LEFT: 5px;
	color: #FFFFFF;
	padding-right: 5px;
}
#navsubtabfcra .subsel A {
    background-color: #E5E5E5;
    border-left: 1px solid #CCCCCC;
    border-right: 1px double #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #333333;
    margin: 0;
    padding-bottom: 4px;
}

#subnav {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BACKGROUND: url(../Images/GradientSubNav.gif) #666 repeat-x 0px 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; WIDTH: 100%; LINE-HEIGHT: normal; PADDING-TOP: 0px; TEXT-ALIGN: right
}
#subnav UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../Images/LeftEdgeH1.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none
}
#subnav LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; BACKGROUND: url(../Images/LeftBothH1.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 1px 0px 0px; PADDING-TOP: 0px
}
#subnav LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 6px; BACKGROUND: url(../Images/RightBothH1.gif) no-repeat right top; FLOAT: left! important; PADDING-BOTTOM: 5px; FONT: bold 100% Verdana, Arial, Helvetica, sans-serif; WIDTH: 0.1em; COLOR: #fff; PADDING-TOP: 5px; POSITION: relative; TOP: 0px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
#subnav SPAN {
	CLEAR: none! important; PADDING-RIGHT: 10px; FLOAT: right; WIDTH: 100px! important; HEIGHT: 17px; TEXT-ALIGN: right
}
#subnav A {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 10px; FONT: 70% verdana,arial,helvetica,sans-serif; COLOR: #fff; TEXT-DECORATION: none
}
UNKNOWN {
	WIDTH: auto
}
#subnav A {
	FLOAT: none
}
UNKNOWN {
	COLOR: #333
}
#subnav .selected {
}
#subnav .selected A {
COLOR: #333333
}
UNKNOWN {
	BACKGROUND-POSITION: 0% -150px; COLOR: #333
}
UNKNOWN {
	BACKGROUND-POSITION: 100% -150px
}
#subnav .tips {
	BORDER-RIGHT: #369 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #369 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: url(../Images/GradientTips.gif) #369 repeat-x 50% top; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; BORDER-LEFT: #369 1px solid; COLOR: #fff! important; PADDING-TOP: 2px; BORDER-BOTTOM: #369 1px solid; POSITION: relative; TOP: 6px; TEXT-DECORATION: none
}
#nav SELECT {
	COLOR: #444; BACKGROUND-COLOR: #fff
}
#nav OPTION {
	COLOR: #444; BACKGROUND-COLOR: #fff
}

#popmenu {
	font-size: 11px;
	color: #0033CC;
}

.popmenu:link, .popmenu:active, .popmenu:visited {
	text-decoration: none;
}

.popmenu:hover {
	COLOR: #0066FF;
	text-decoration: underline;
}

#PopUp {
	display: none;
	position: absolute;
	left: 270px;
	top: 110px;
	border: solid black 1px;
	padding: 10px;
	background-color: #FFFFFF;
	z-index: 3;
}

.PopUpUL
{
	list-style-image: url("../Images/arrow.gif");
	font-size: 11px;
}

.PopUpLISubHead
{
	list-style-image: url("../Images/spacer.gif");
	font-size: 12px;
	color: #CC0033;	
    margin:2px -25px;
	font-weight: bold;  
}


.DropDownCommandHyperLink
{
	cursor: hand;
	background-image: url("../Images/ico_dwnarro.gif");
	background-repeat: no-repeat;
	background-position: top right;
}



#hisnav {
	CLEAR: both;
	BACKGROUND:  url("../Images/navBkg.gif") repeat-x left;
	FLOAT: left;
	WIDTH: 100%;
	font-size: 70%;
	height: 33px;
}

#hisnav UL {
	MARGIN: 0px;
	WHITE-SPACE: nowrap;
	LIST-STYLE-TYPE: none;
	padding-top: 6px;
	padding-bottom: 0px;
	margin-top: 3px;
	padding-left: 10px;
}

#hisnav LI {
	BACKGROUND:  url("../Images/LeftBothMain.gif") no-repeat left top;
	MARGIN: 0px 1px 0px 0px;
	padding-left: 9px;
	float: left;
	white-space: nowrap;
}

#hisnav A {
	PADDING-RIGHT: 8px;
	DISPLAY: block;
	FONT-WEIGHT: bold;
	BACKGROUND:  url("../Images/RightBothMain.gif") no-repeat right top;
	WIDTH: auto;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	padding-bottom: 5px;
	padding-top: 2px;
}
#hisnav A {
	FLOAT: none;	
}

#hisnav A:HOVER {
	TEXT-DECORATION: underline;
}

#hisnav .selected {
	BACKGROUND-POSITION: 0px -151px;
	background-image:  url(../Images/LeftBothMain.gif);
	line-height: 15px;
	top: -2px;
	position: relative;
	margin-bottom: 0px;
}
#hisnav .selected A {
	BACKGROUND-POSITION: 100% -151px;
	COLOR: #fff;
	padding-right: 8px;
	margin-top: 0px;
}

.tabContainer_FP {
	width: 100%;
	padding: 0px;
	margin: 0px;
	clear: both;
	text-align: center;
	z-index: 0;
}
.tabContainer_FP {
	width: 100%;
	padding: 0px;
	margin: 0px;
	clear: both;
	text-align: -moz-center;
	z-index: 0;
}
#tabsubnavContainer {
	width: 100%;
	float: left;
	clear: both;
	margin-top: 0px;
	z-index: 0;
}
#tabsubnav {
    margin: 0;
    z-index: 99;
    height: 31px;
    #background-image: url(../Images/line_vert_ttl.gif);
    background-position: 0px 22px;
    background-repeat: repeat-x;
    border-bottom: 1px #ED1C24 solid !important;;
    border-left: 1px #ED1C24 solid !important;
    border-right: 1px #ED1C24 solid !important;
    padding : 0px;
}

#tabsubnav li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}
	
#tabsubnav a:link, #tabsubnav a:visited {
	float: left;
	padding: 2px 10px 2px 10px;
	text-decoration: none;
	color: #333;
	font-size: 100%;
	margin-right: 4px;
	border-bottom: none;
    height:30px;
}

#tabsubnav a:link.active, #tabsubnav a:visited.active {
	border-bottom: 1px solid #E4DFDA;
	background: #fff;
	color: #FFF;
        font-family: Verdana,Arial,Helvetica,sans-serif;
	background-color: #ED1C24;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	#border-top-style: solid;
	#border-right-style: solid;
	#border-left-style: solid;
	#border-top-color: #666666;
	#border-right-color: #666666;
	#border-left-color: #666666;
	#border-bottom-color: #E4DFDA;
	#border-bottom-style: solid;
	#border-bottom-width: 1px;
	height: 31px;
}

#tabsubnav a:hover {
    background: #E6E6E6;
    color: #CC0033;
}
	
#tabsubnav a:hover.active {
    #background-color: #ED1C24;
    #color: #ED1C24;
    cursor: default;
}
#tabsubnav a:link.active {
}
#tabsubnav span, #tabsubnav span.visited {
    float: left;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    color: #333;
    font-size: 100%;
    margin-right: 4px;
    border-bottom: none;
    height:30px;
}

#tabsubnav span.active, #tabsubnav span.visited.active {
    border-bottom: 1px solid #E4DFDA;
    background: #fff;
    color: #FFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    background-color: #ED1C24;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    height: 31px;
}

#tabsubnav span:hover {
    background: #E6E6E6;
    color: #CC0033;
    cursor: pointer;
}

#tabsubnav span.active:hover {
    color: #FFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    background-color: #ED1C24;
    cursor: default;
}
