#vooPropertyInfo{
	width:100%;
	display: table;
	border: 1px solid #D0D2D1;
	margin-top: 5px;
}

#vooPropertyInfo > *{
	display: table-cell;
	text-align: center;
}

#vooScore{
	border-right: 1px solid #D0D2D1;
	width: 50%;
	padding: 0 10px;
}

#ownerStatus{
	display: table-cell;
	width: 50%;
}

#property-type {
	list-style-type: none;
	margin-bottom: 10px;
}

#property-type > li{
	display: inline-block;
	margin: 0 10px;
}

#property-type .tooltip{
	bottom: 75px;
}

#score{
	width: 433px;
	margin: 0 auto;	
	text-align: left;
}
#score > span {
	font-size: 3em;
	font-weight: 700;
	position: relative;

	width: 60px;
	margin-left: -30px;
	display: block;
	text-align: center;
}

#score > span:after{
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -10px;
}

#scale{
	width: 433px;
	margin: 20px auto;	
}

#scale-bar{
	height: 15px;
	border: 1px solid #666666;
	background-image: url(../../images/v4/rainbow-gradient.png);
	background-position: 47px center;
	background-repeat: repeat-y;
}

#scale-items{
	list-style-type: none;
	padding: 0;
	margin: 25px 0 0 -24px;
	width: 111%;
}
#scale-items:after{
	content: "";
	clear: both;
	display: block;
	height: 0px;
	width: 0px;
	visibility: hidden;
}

#scale-items > li{
	display: block;
	width: 48px;
	float: left;
}

#scale-items > li:before{
	content: " ";
	border-left: 1px solid #666666;
	margin-top: -23px;
	margin-left: 50%;
	display: block;
	height: 9px;
}

#scale-descriptions{
	list-style-type: none;
	width: 100%;
	padding: 0;
	margin: 5px 0 0;
}

#scale-descriptions span{
	font-size: 11px;
}

#scale-descriptions li{
	display: inline-block;
	width: 32.5%;
}