/* Base Link Colors */
A:              { color: #0066CC; text-decoration: none; }
A:link          { color: #0066CC; text-decoration: none; }
A:visited       { color: #0066CC; text-decoration: none; }
A:hover         { color: #ed1c24; text-decoration: underline; }
A:active        { color: #0066CC; text-decoration: none; }

/* Search Header Links */
A.searchheader:link {font-family: Arial; font-size: 8pt; text-decoration: underline; color: #003399; font-weight: bold; }
A.searchheader:visited {font-family: Arial; font-size: 8pt; text-decoration: underline; color: #003399; font-weight: bold; }
A.searchheader:hover {font-family: Arial; font-size: 8pt; text-decoration: underline; color: #003399; font-weight: bold; }
A.searchheader:active {font-family: Arial; font-size: 8pt; text-decoration: underline; color: #003399; font-weight: bold; }

/* Background Styles */
body { background-color: #e6e7de; }
.alternatebody { background-color: #FCFAF5; }

/* Body Color Styles */
.inputbody { background-color: none; }
.advinsert { background-color: #DDDDDD; }
.advline { background-color: #ffffff; color: #ffffff; height: 1px;}
.searchmessages { background-color: #202858 }
.myaccountbody { background-color: #f2f4f1; }
.myaccountborder { background-color: #4e8cb9; }
.myaccountalert { background-color: #e4e9f0; }
.reportselectbody { background-color: #e6e7de; }
.reportselectbox { background-color: #336699; }
.prefsselectbox { background-color: #336699; }
.announcementheaderarea { background-color: #cccccc; }
.headerarea { background-color: #cccccc; }
.headerseparator { background-color: #202858; }
.termsbody { background-color: #ffffff; }

/* Text Styles */
.inputlabel { FONT-SIZE: 61%; FONT-FAMILY: Arial; COLOR: #666666; }
.inputlabelcarfax { FONT-SIZE: 9pt; FONT-FAMILY: Arial; COLOR: #000000; }
.inputlabelred { FONT-SIZE: 9pt; FONT-FAMILY: Arial; COLOR: #CE0031; }
.smalllabel { FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: #666666; }
.smalllabelcarfax { FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: #000000; }
.smallcontrastlabel { FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: yellow; }
.tablayertext { FONT-SIZE: 8pt; FONT-FAMILY: verdana; COLOR: yellow; }
/* .tablayerbackground { background-color: #336699; } */
.reportselectboxtext { FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: #ffffff; }
.myaccountbanner { font-size: 14pt; font-family: Arial; color: #003399; font-weight: bold; }
.myaccounttitle { font-size: 12pt; font-family: Arial; color: #003399; font-weight: bold; }
.myaccountlabel { font-size: 9pt; font-family: Arial; color: #003399; font-weight: bold; }
.reportprices { font-size: 8pt; font-family: Arial; color: #003399; }
.reportselectorinfo { font-size: 8pt; font-family: Arial; color: #003399; font-weight: bold; }
.smallfont1reporttype {FONT-SIZE: 8pt; FONT-FAMILY: Verdana; FONT-WEIGHT: bold; COLOR: #003399; }
.disabled_small {FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: #003399; FONT-STYLE: italic; }
.termstext { FONT-SIZE: 8pt; FONT-FAMILY: verdana; COLOR: #000000; }

A.inputlinklabel:link { font-size: 9pt; font-family: arial; color: #0000ff; font-weight: bold; }
A.inputlinklabel:visited { font-size: 9pt; font-family: arial; color: #0000ff; font-weight: bold; }
A.inputlinklabel:hover { font-size: 9pt; font-family: arial; color: red; font-weight: bold; }
A.inputlinklabel:active { font-size: 9pt; font-family: arial; color: #0000ff; font-weight: bold; }
A.inputlinklabelred:link { font-size: 9pt; font-family: arial; color: #CE0031; font-weight: bold; text-decoration: underline; }
A.inputlinklabelred:visited { font-size: 9pt; font-family: arial; color: #CE0031; font-weight: bold; text-decoration: underline; }
A.inputlinklabelred:hover { font-size: 9pt; font-family: arial; color: #CE0031; font-weight: bold; text-decoration: underline; }
A.inputlinklabelred:active { font-size: 9pt; font-family: arial; color: #CE0031; font-weight: bold; text-decoration: underline; }

A.inputlinklabelCarFax:link { font-size: 9pt; font-family: arial; color: #ffff06; font-weight: bold; }
A.inputlinklabelCarFax:visited { font-size: 9pt; font-family: arial; color: #ffff06; font-weight: bold; }
A.inputlinklabelCarFax:hover { font-size: 9pt; font-family: arial; color: #ffff06; font-weight: bold; }
A.inputlinklabelCarFax:active { font-size: 9pt; font-family: arial; color: #ffff06; font-weight: bold; }

/* Special My Account Section Borders And Things*/
fieldset {border: 1px solid #003399; margin-bottom: 2px; margin-top: 10px;}
legend {  background-color: #f2f4f1; color: #003399; display: inline-block; padding: 0 3px 0 3px; text-align: center; font: bold 9pt Arial,Helvetica; }
.sortarrow { font-size: 150%; color: red; }
a.sortheader:link { color: #0000ff; text-decoration: none; }
a.sortheader:hover { color: #0000ff; text-decoration: underline; }

/* For GLB & DPPA Pages */
.glbtitle { font-size: 12pt; font-family: Arial; color: #003399; }
.glbnumber1 { font-size: 12pt; font-family: Arial; color: blue; }
.glbsubtitle { font-size: 10pt; font-family: Arial; color: blue; }
.glbbody { font-size: 9pt; font-family: Arial; color: blue; }
A.glb:link {font-family: Arial; font-size: 9pt; text-decoration: underline; color: #003399; font-weight: bold; }
A.glb:visited {font-family: Arial; font-size: 9pt; text-decoration: underline; color: #003399; font-weight: bold; }
A.glb:hover {font-family: Arial; font-size: 9pt; text-decoration: underline; color: #003399; font-weight: bold; }
A.glb:active {font-family: Arial; font-size: 9pt; text-decoration: underline; color: #003399; font-weight: bold; }

/* Lite version */
.activetabs { background-color: #00478f; }
.inactivetabs { background-color: #708090; }
.utiltabs { background-color: #336699; }
A.searchtabs:link { color: white; font-weight: bold; text-decoration: none; FONT-SIZE: 7pt; FONT-FAMILY: Verdana; }
A.searchtabs:visited { color: white; font-weight: bold; text-decoration: none; FONT-SIZE: 7pt; FONT-FAMILY: Verdana; }
A.searchtabs:hover { color: yellow; font-weight: bold; text-decoration: underline; FONT-SIZE: 7pt; FONT-FAMILY: Verdana; }
A.searchtabs:active { color: white; font-weight: bold; text-decoration: none; FONT-SIZE: 7pt; FONT-FAMILY: Verdana; }

/* Copy To Clipboard Text Area Style */
.clipstyle { width: 500; height: 250; font-size: 8pt; background: #e6e7de; border: 2px #336699 double; }
A.clipalllink:link, A.clipalllink:visited, A.clipalllink:hover, A.clipalllink:active { font-size: 9pt; font-family: arial; color: #ffff06; font-weight: bold; }

/* Copy To Clipboard Fonts */
.ctcheader { FONT-SIZE: 12pt; FONT-FAMILY: Arial,Helvetica; COLOR: #003399; FONT-WEIGHT: BOLD; }
.ctctextarea { FONT-SIZE: 8pt; FONT-FAMILY: Verdana; }
.ctcbody { FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A.ctclinks:link, A.ctclinks:visited, A.ctclinks:hover, A.ctclinks:active { font-size: 8pt; font-family: Arial,Helvetica; color: #003399; text-decoration: none; }

/* Pulldown Menu Styles */
.pout {cursor:pointer;cursor:hand;background-color:#cccccc;FONT-SIZE:9pt;FONT-FAMILY:helvetica,arial;color:#003399;FONT-WEIGHT:bold;}
.pover {cursor:pointer;cursor:hand;background-image:url("/bps/images/pull_slice.gif");FONT-SIZE:9pt;FONT-FAMILY:helvetica,arial;color:#ffffff;FONT-WEIGHT:bold;}

/* Search messages */
.searchmessagerec {font-size: 9pt; font-family: verdana; font-weight: bold; color: yellow; }
.searchmessagenum {font-size: 9pt; font-family: verdana; font-weight: bold; color: white; }
.searchmessageinfo, .searchmessageinfo a {font-size: 9pt; font-family: verdana; font-weight: bold; color: white; }
.searchmessageerror {font-size: 9pt; font-family: verdana; font-weight: bold; color: yellow; }
.searchmessageunavail {color: blue;}
.searchmessagetoomany {color: blue;}

/* Record paging */
A.search_results_paging:link, A.search_results_paging:visited, A.search_results_paging:hover, A.search_results_paging:active { font-size: 9pt; font-family: verdana; color: yellow; text-decoration: none; font-weight: bold; }
.search_results_current_page_number {font-size: 10pt; font-family: verdana; font-weight: bold; color: white; border: 1px dotted;}

/* Search Results Styles */

.searchresultstop1 {background-color: #042F69; }
.searchresultstop2, .searchresultshousehold {background-color: #042F69; }
.searchresultshousehold td{ padding: 5px; font-weight: bold; }

.searchresultsbot {background-color: #042F69; }

.searchresultsrowtitleodd {background-color: #a4c5dd; }
.searchresultsrowtitleeven {background-color: #c5dcef; }

.searchresultsrowodd {background-color: #F2F4F1; }
.searchresultsroweven {background-color: #F4F0DE; }
/*.searchresultsrowodd {background-color: #F2F4F1; }
.searchresultsroweven {background-color: #FFFFFF; }*/
.liens_extra {background-color: #000000; }
.topbus {background-color: #999999;color: white; }

.searchresultsaddressrowcolor {background-color: #c0c0c0; }

/*
A.searchresultslink             { color: #0000ff; text-decoration: none; }
A.searchresultslink:link        { color: #0000ff; text-decoration: none; }
A.searchresultslink:visited	{ color: #0000ff; text-decoration: none; }
A.searchresultslink:hover	{ color: #0000ff; text-decoration: underline; }
A.searchresultslink:active	{ color: #0000ff; text-decoration: none; }
*/
.liens_extra A 			{font-size: 9pt; font-family: verdana; font-weight: bold; color: yellow; text-decoration:none; }
.liens_extra A:link 		{font-size: 9pt; font-family: verdana; font-weight: bold; color: yellow; text-decoration:none; }
.liens_extra A:visited		{font-size: 9pt; font-family: verdana; font-weight: bold; color: yellow; text-decoration:none; }
.liens_extra A:hover 		{font-size: 9pt; font-family: verdana; font-weight: bold; color: yellow; text-decoration:none; }
.liens_extra A:active 		{font-size: 9pt; font-family: verdana; font-weight: bold; color: yellow; text-decoration:none; }





/* Batch */
.wizardcounter { color: #003399; font-family: arial; font-size: 10pt; }
.batchbanner { FONT-SIZE: 14pt; FONT-FAMILY: Arial; COLOR: #003399; }
.batchalert { FONT-SIZE: 12pt; FONT-FAMILY: Arial; COLOR: #003399; }
.batchpricingheader { FONT-SIZE: 9pt; FONT-FAMILY: Arial; COLOR: #003399; }
.batchpricing { FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: #003399; }
.batchfilealert { FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: #003399; }

/* Court Search Wizard */
.courtpagetitle { font-size: 12pt; font-family: Arial; color: #003399; font-weight: bold; }
.courtplaceorderbutton { color: #003399; font-weight: bold; }
.courtcancelorderbutton { color: red; font-weight: bold; }
.courtalert { background-color: #e4e9f0; }
.courttableborder { background-color: #336699; }
.courttableheader { background-color: #cccccc; }
.courttablebody { background-color: #e6e7de; }
.ct { }
.ctc {background-color: #d9d9d9; font-weight: bold; }

/* Error messages */

.errbody { background-color: #ffffce; }
.errtitle { background-color: #336699; }

.errormessage { color: red; font: bold 9pt arial; }
.successmessage { color: green; font: bold 9pt arial;}

/* public records discalimer */
.discalimertitle { font-family: arial; font-size: 8pt; color: blue; font-weight: bold; }
.disclaimerbody { font-family: arial; font-size: 8pt; color: black; }

/* Docket report */
.docketreporttabletitle {background-color: #cccccc; color: #000000; }
.docketreporttablerow {background-color: #ffffff; color: #000000; }

/* date picker */
.datepickerbody { background-color: #164573; }
.datepickertitle { font-size: 8pt; font-family: verdana; color: #003399; font-weight: bold; }

.medblack {
   font-size: 75%;
   line-height: 1.2em;
}
.medblack2 {
   font-size: 70%;
   line-height: 1.2em;
}

.smallblack {
   font-size: 71%;
   line-height: 1.5em;
}
.smallblack2 {
   font-size: 61%;
   line-height: 1.1em;
}


.disabled_medblack {
   text-decoration: line-through;
   font-size: 81%;
   line-height: 1.2em;
}

.disabled_small {FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: #003399; FONT-STYLE: italic; }


