
#hd{
	background:url(../../../images/v2/loc/logo.gif) no-repeat;
	padding-right:15px;
	height:55px;
	position: relative;
}

#hdReport{
        background:url(../../../images/v2/loc/logo.gif) no-repeat;
        padding-right:15px;
        height:55px;
}

