/* Search Page Popups Style */
body { background-color: #EBEBD8; }

A:		{ color: #000000; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A:link		{ color: #000000; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A:visited	{ color: #000000; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A:hover		{ color: #cc0033; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A:active	{ color: #000000; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }

/* timezone links */
A.tz:		{ color: #000000; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A.tz:link	{ color: #000000; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A.tz:visited	{ color: #000000; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A.tz:hover	{ color: #cc0033; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }
A.tz:active	{ color: #000000; text-decoration: none; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; }

.popuptitle { FONT-SIZE: 12pt; FONT-FAMILY: Arial; COLOR: #000000; }
.popupbody { FONT-SIZE: 10pt; FONT-FAMILY: Verdana; COLOR: #000000; }
.popupstates { FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: #000000; }
.supplementaldata { font-family: arial; font-size: 8pt; color: #000000; }

/* Error Popup Fonts */
.errortitle {FONT-SIZE: 8pt; FONT-FAMILY: arial; color: #ffffff; font-weight: bold; }
.errorbody {FONT-SIZE: 8pt; FONT-FAMILY: verdana; }

/* Advanced Tip Popups */
.advancedtipheader { font-weight: bold; FONT-SIZE: 10pt; FONT-FAMILY: Arial; COLOR: #ffffff; background-color: #cc0033 }
.advancedtipbody {FONT-SIZE: 8pt; FONT-FAMILY: Arial; COLOR: #000000; }
