body { font: 8pt bold Arial, Sans-Serif; }

.inputlabel, .nsinputs {
  text-align: left;
  font-weight: bold;
}

.fieldrow, .buttons {
  padding: 5px;
  margin: 0 5%;
  width: 90%;
  border-style: none;
}

input {
  text-transform: uppercase;
  /* IE */
  _background-color: expression((this == document.activeElement) ? "#dde" : "#fff");
  _color: expression((this == document.activeElement) ? "#cc1c49" : "#000");
}
input:focus {
  background-color: #dde;
  color: #cc1c49;
}

.errorinput {
  border: 1px solid red;
}

.buttons img {
  margin: 5px 10px;
  padding: 5px;
  border-style: none;
}

label:focus, label:active {
  color: red;
}

label {
  _color: expression((this.htmlFor == document.activeElement.id) ? "#c14" : "#000");
}

.disabled {
  background-color: #ccc;
}
.disabledlabel {
  color: #888;
}
